/AfterMe/.vs
/AfterMe/AfterMe.Core/bin
/AfterMe/AfterMe.Core/obj
/AfterMe/AfterMe.Core/AfterMe.Core.csproj.user
 
/AfterMe/AfterMe.ConsoleApp/bin
/AfterMe/AfterMe.ConsoleApp/obj
/AfterMe/AfterMe.ConsoleApp/AfterMe.ConsoleApp.csproj.user

/AfterMe/AfterMe.WebApi/bin
/AfterMe/AfterMe.WebApi/obj
/AfterMe/AfterMe.WebApi/AfterMe.WebApi.csproj.user