/AfterMe/.vs
/AfterMe/AfterMe.Core/bin
/AfterMe/AfterMe.Core/obj
/AfterMe/AfterMe.Core/AfterMe.Core.csproj.user

/AfterMe/.vs
/AfterMe/AfterMe.ConsoleApp/bin
/AfterMe/AfterMe.ConsoleApp/obj
/AfterMe/AfterMe.ConsoleApp/AfterMe.ConsoleApp.csproj.user